
<h1 class="text-uppercase text-center font-weight-bold"> <h2>List <b> Courses</b></h2></h1>
<a href="Cours/Add" class="btn btn-secondary"><i class="fas fa-plus"></i></a>


<table class="table table-striped table-bordered table-hover table-sm table-responsive">
  <thead class="table-dark">
    <tr>
      <th>Nom</th>
      <th>Durée</th>
      <th>Prof</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cours of CourDetails" style="cursor: pointer;">
      <td>{{ cours.nom }}</td>
      <td>{{ cours.duree }} h</td>
      <td>{{ cours.prof.firstName + ' ' + cours.prof.lastName }}</td>
          <td>
          <span class="button-space">

        <td>
          <span class="button-space">

          <td><button class="btn btn-outline-success" (click)="updateCour(cours.id)" ><i class="fas fa-edit"></i> </button>
        <span class="button-space"></span>
          <button class="btn btn-outline-danger "(click)="deleteCour(cours.id)" > <i class="fas fa-trash-alt"></i></button></td>
        </span>



<style>
  /* Define the button-space class */
  .button-space {
    margin-left: 20px; /* Adjust the margin to your preference */
    display: inline-block; /* Ensures space is visible even if the content is empty */
  }
</style>
